@model IEnumerable<FactionFraction.Models.GroupMember>
@{
    ViewData["Title"] = "Index";
}
<h1>Group Members</h1>
<div class="well-lg">
    <div class="container-fluid">
        <p>
            <a class="btn btn-success" asp-action="Create">Add Another Member</a>
        </p>
        <div class="row">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DesiredGrade)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FinalGrade)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DesiredGrade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FinalGrade)
                            </td>
                            <td>
                                <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id">Track</a> |
                                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">View</a> |
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<a href="@Url.Action("Index","AssignedTasks")" class="btn btn-pretty pull-right">Create Tasks</a>
