@model IEnumerable<FactionFraction.Models.AssignedTask>
@{
    ViewData["Title"] = "Index";
}
<h1>Break your project down</h1>
<div class="well-lg">
    <div class="container-fluid">
        <p>
            <a class="btn btn-success" asp-action="Create">Create a Task</a>
        </p>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Completion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EstimatedMinutes)
                        </th>
                        <th>
                            Assigned To
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Completion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EstimatedMinutes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GroupMember.Name)
                            </td>
                            <td>
                                <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">View</a> |
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
<a href="@Url.Action("Estimate","AssignedTasks")" class="btn btn-pretty pull-right">Estimate Time</a>