@model IEnumerable<FactionFraction.Models.AssignedTask>
@{
    ViewData["Title"] = "TaskSummary";
}

<h2>Your Project Breakdown</h2>

<div class="well-lg">
    <div class="container-fluid">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Completion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EstimatedMinutes)
                        </th>
                        <th>
                                Assigned To
                            </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Completion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EstimatedMinutes)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.GroupMember.Name)
                                </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
